:root {
  --main: #262626;
  --secondary: #5f222b;
  --third: #0d0d0d;
  --white: #ffffff;
}

body {
  background-color: var(--main);
  font-family: Fanwood, serif;
  color: var(--white);
}

.headerflex{
  display: flex;
  flex-flow: column wrap;
  
}

header {
  padding: 2px;
  background-color: var(--secondary);
  color: var(--white);
}

header h1 {
  margin-left: 20px;
  display: inline-block;
  font-size: 52px;
}




nav {
  padding-top: -120px;
  margin-right: 20px;
  float: right;
  font-size: 30px;

}


nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

a {
  color: var(--white);
  text-decoration: none;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}

.column{
  flex: 1;

}



#personalphoto {
  
  width: 514px;
  height: 514px;
}

#musicphoto{
 
  width: 514px;
  height: 600x;
}



main section{
  border: 5px solid;
  border-color: var(--white);
}

.contact {
  margin-left: 32px;
  text-align: center;
  background-color: var(--third);
  width: 514px;
}



.contact ul {
  list-style-type: none;
}

.contact li {
  font-size: 30px;
  text-decoration: underline;
}






.about {
  text-align: center;
  background-color: var(--third);
  width: 1214px;
}

h2 {
  font-size: 42px;
}


.work {
  background-color: var(--third);
  width: 1214px;
}


.work h2 {
  text-align: center;
}

.work h3 {
  font-size: 28px;
  margin-left: 40px;
}

.imgrow{
  display: flex;
}

.imgcolumn{
  flex: 1;
  
  
}
.webscreenshot {
  width: 410px;
  height: 480px;
}



.boxscreenshot{
  width: 600px;
  height:410px;
}


/* forces footer to bottom and sets style and background color */
footer {
  padding: 10px;
  clear: both;
  text-align: center;
  background-color: var(--secondary);
}

