/* Color pallet for entire page */
:root {
  --main: #262626;
  --secondary: #5f222b;
  --third: #0d0d0d;
  --white: #ffffff;
}

body {
  background-color: var(--main);
  font-family: Fanwood, serif;
  color: var(--white);
}
/* apples flex to entire header including nav bar */
.headerflex{
  display: flex;
  flex-flow: column wrap;
  
  
}

header {
  padding: 2px;
  background-color: var(--secondary);
  color: var(--white);
  
}

header h1 {
  margin-left: 20px;
  display: inline-block;
  font-size: 52px;
}




nav {
  padding-top: -120px;
  margin-right: 20px;
  float: right;
  font-size: 30px;

}


nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
}

a {
  color: var(--white);
  text-decoration: none;
}

/* creates a row for main section content*/
.row{
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  
}

/* creates a column for main section content */
.column{
  flex: 1;
flex-flow: column wrap;

}



#personalphoto {
  margin-left: -32px;
  width: 614px;
  height: 614px;
}

#musicphoto{
  margin-left: -32px;
  width: 614px;
  height: 500px;
} 



main section{
  border: 5px solid;
  border-color: var(--white);
}


.about {
  margin-left: -32px;
  text-align: center;
  background-color: var(--third);
  width: 100%;
}

h2 {
  font-size: 42px;
}

 
.work {
  margin-left: -32px;
  background-color: var(--third);
  width: 100%;
}


.work h2 {
  text-align: center;
}

.work h3 {
  font-size: 28px;
  margin-left: 40px;
  
}

/* creates row inside my work section for examples */
.imgrow{
  display: flex;
  
}
/* creates coloumn inside my work section for examples */
.imgcolumn{
  flex: 1;  
}

/* code refactor img */
.webscreenshot {
  width: 510px;
  height: 580px;
}


/* watch the box img */
.boxscreenshot{
  width: 600px;
  height: 410px;
}

/* coming soon img */
.wip{
  width: 250px;
  height: 250px;
}


.contact {
  text-align: center;
  background-color: var(--third);
  width:100%
}

.contact h3{
  font-size: 42px;
  
}

.contact ul {
  list-style-type: none;
}

.contact li {
  font-size: 30px;
  display: inline;
  
}

/* forces footer to bottom and sets style and background color */
footer {
  padding: 2px;
  clear: both;
  text-align: center;
  background-color: var(--secondary);
  width: 100%;
}

footer h4{
  font-size: 18px;
}

/* main section flex for display response/img scaling for my work examples */
@media screen and (max-width:1983px){
  .column{
    display: flex; 
    width: 100%;
  }
 
  .imgrow,
  .imgcolumn
  h3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
  }

  .webscreenshot,
  .boxscreenshot,
  .wip{
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .webscreenshot{
  object-fit: contain;
    min-width: 300px;
  }
  .boxscreenshot{
    min-width: 250px;
  }

  .wip{
    max-width: 200px;
  }
}


/* resets margin applied to the about me and work section */
@media screen and (max-width:1572px){

  .about,
  .work{
    margin: 0;
  }


}


  


/* img scaling for my work examples */
@media screen and (max-width:380px){


  .webscreenshot,
  .boxscreenshot,
  .wip{
    object-fit: contain;
    width: 100%;
    height: auto;
  }
 
  .webscreenshot{
    object-fit: contain;
      min-width: 200px;
    }
   
    .boxscreenshot{
      min-width: 100px;
    }

    .wip{
      max-width: 100px;
    }
}

